@font-face {
    font-family: "W95FA";
    src: url("/assets/fonts/W95FA.otf") format("opentype");
}

@font-face {
    font-family: "ms95-sans-serif";
    src: url("/assets/fonts/ms-sans-serif/ms_sans_serif.woff2") format("woff2");
    src: url("/assets/fonts/ms-sans-serif/ms_sans_serif.woff") format("woff");
}

:root {
    /* SIZES */
    --header-width: 1200px;
    --container-width: 1220px;

    /* Virtual Piano */
    --meowsic-height: 240px;
    --piano-height: 40%;
    --piano-width: 67%; /* SIX SEVEEEN */
    --piano-tb-margin: calc((100% - var(--piano-height)) / 6);
    --piano-lr-margin: calc((100% - var(--piano-width)) / 2);

    /* COLORS */
    --box-shadow-inner: inset -1px -1px #ffffff, inset 1px 1px #0a0a0a, inset -2px -2px #dfdfdf, inset 2px 2px #808080;
    --box-shadow-outer: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px #808080, inset 2px 2px #ffffff;
    /* Gradients */
    --blue-gradient: linear-gradient(90deg, #000080, #1084d0);
    --default-rainbow-gradient: repeating-linear-gradient(90deg, #FF4136, #FF851B, #FFDC00, #2ECC40, #0074D9, #B10DC9);
    --strong-rainbow-gradient: repeating-linear-gradient(90deg, #FF0000, #FF7F00, #FFFF00, #00FF00, #0000FF, #4B0082, #9400D3);
    --default-rainbow-gradient45: repeating-linear-gradient(45deg, #FF4136, #FF851B, #FFDC00, #2ECC40, #0074D9, #B10DC9);
    --strong-rainbow-gradient45: repeating-linear-gradient(45deg, #FF0000, #FF7F00, #FFFF00, #00FF00, #0000FF, #4B0082, #9400D3);
    --default-rainbow-gradient90: repeating-linear-gradient(0deg, #FF4136, #FF851B, #FFDC00, #2ECC40, #0074D9, #B10DC9);
    --strong-rainbow-gradient90: repeating-linear-gradient(0deg, #FF0000, #FF7F00, #FFFF00, #00FF00, #0000FF, #4B0082, #9400D3);
}

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-button:increment {
    height: 17px;
    background-image: url("/assets/images/static/button-up.svg");
}

::-webkit-scrollbar-button:decrement {
    height: 17px;
    background-image: url("/assets/images/static/button-down.svg");
}

::-webkit-scrollbar-thumb {
    background-color: #dfdfdf;
    box-shadow: var(--box-shadow-outer);
}

::-webkit-scrollbar-track {
    background-image: url("/assets/images/static/scrollbar-background.svg");
}

* {
    cursor: url("/assets/images/gifs/cursor.gif"), default;
    -webkit-font-smoothing: none;
}

img {
    user-select: none;
    pointer-events: none;
}

body {
    background-color: black;
    background-image: url("/assets/images/tiles/brains2.gif");
    background-repeat: repeat;
    margin: 0px;
    position: relative;
    height: auto;
    width: 100%;
    overflow-x: hidden;
}

body::before,
body::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 267px;
    /* SIX SEVEEEN */
    background-image: url("/assets/images/tiles/buildings.gif");
    background-repeat: repeat-y;
    background-size: 280px auto;
    border-color: #9028c0;
    border-style: solid;
    border-width: 0 5px 0 0;
    filter: opacity(85%) contrast(90%) saturate(95%);
    pointer-events: none;
    z-index: -2;
}

/* LEFT */
body::before {
    left: 0;
}

/* RIGHT */
body::after {
    right: 0;
    transform: scaleX(-1);
}

body::-webkit-scrollbar {
    display: none;
}

.banner {
    height: 130px;
    width: var(--header-width);

    background-image: url("/assets/images/static/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    z-index: -1;

    margin-top: 0px;
    margin-bottom: -10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

header {
    background: #c0c0c0;
    background-image: url("/assets/images/tiles/cloud.gif");
    background-size: 30%;
    background-repeat: repeat;
    border-style: groove;
    border-color: #c0c0c0;
    border-width: 4px;
    border-radius: 20px;
    height: 30px;
    width: var(--header-width);
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    position: relative;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
    position: relative;
}

.navbar ul {
    user-select: none;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.navbar li {
    display: inline-block;
    padding: 0px 67px;
    /* SIX SEVEEEN */

}

.navbar a {
    background: none;
    color: transparent;
    background: var(--blue-gradient);
    background-size: 67px;
    /* SIX SEVEEEN */
    background-clip: text;
    -webkit-background-clip: text;
    padding-top: auto;
    padding-bottom: auto;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "W95FA";
    font-size: 25px;
    font-weight: bolder;
    position: relative;
}

.navbar a:hover {
    animation: jiggle-big 0.3s infinite ease;
}

@keyframes jiggle-big {
    0% {
        transform: rotate(0deg) scale(1.5);
    }

    25% {
        transform: rotate(2deg) scale(1.5);
    }

    50% {
        transform: rotate(-2deg) scale(1.5);
    }

    75% {
        transform: rotate(2deg) scale(1.5);
    }

    100% {
        transform: rotate(0deg) scale(1.5);
    }
}

.container {
    width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.center {
    margin-left: 253px;
    width: 700px;

}

.left,
.right {
    width: 200px;
    flex-wrap: wrap;
    display: inline;
    position: absolute;
}

.right {
    margin-left: 993px;
}

.panel {
    height: auto;
    width: 100%;
    position: relative;
    margin: 4px 0px 2px 0px;
    box-shadow: var(--box-shadow-inner);
}

.panel h1 {
    user-select: none;
    text-transform: capitalize;
    margin: 0px;
    padding-top: 2px;
    text-align: center;
    line-height: 25px;
    font-size: 25px;
    font-weight: lighter;
    color: #0033d9;
    background-color: rgba(207, 183, 255, 0.349);
}

.panel p {
    margin: 0;
    padding: 5px 0 8px 0;
    text-align: center;
    font-size: 15px;
    color: #0033d9;
}

/* Windows and stuff, css taken and modified from https://github.com/jdan/98.css */
.window {
    height: auto;
    padding: 4px;
    box-shadow: var(--box-shadow-outer);
    background: #c0c0c0;
    font-family: "W95FA";
    font-size: 15px;
}

.window.large {
    width: 705px;
    margin: 5px;
}

.window.medium {
    width: 350px;
    margin: 4px;
}

.window.small {
    width: 220px;
    margin: 4px;
}

.title-bar {
    user-select: none;
    padding: 0px 2px 3px 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--blue-gradient);
}

.title-bar img {
    margin-top: -4px;
    margin-right: 2px;
    height: 16px;
    width: 16px;
    transform: translateY(3px);
}

.title-bar-text {
    font-weight: bold;
    color: white;
    letter-spacing: 0px;
    margin-right: 24px;
}

.title-bar-controls {
    display: flex;
}

.title-bar-controls button {
    padding: 0px;
    display: block;
    min-width: 16px;
    min-height: 14px;
    background-color: silver;
    box-sizing: border-box;
    border: none;
    box-shadow: var(--box-shadow-outer);
}

.title-bar-controls button:active {
    box-shadow: var(--box-shadow-inner);
}

.CloseButton {
    margin-left: 2px;
    background-image: url("/assets/images/static/close.svg");
    background-repeat: no-repeat;
    background-position: top 3px left 4px;
}

.MinimizeButton {
    background-image: url("/assets/images/static/minimize.svg");
    background-repeat: no-repeat;
    background-position: bottom 3px left 4px;
}

.MaximizeButton {
    background-image: url("/assets/images/static/maximize.svg");
    background-repeat: no-repeat;
    background-position: top 2px left 3px;
}

.HelpButton {
    background-image: url("/assets/images/static/help.svg");
    background-repeat: no-repeat;
    background-position: top 2px left 4px;
}

.field-control {
    user-select: none;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    height: 18px;
    font-family: "ms95-sans-serif";
    font-size: 12px;
    display: flex;
    align-items: center;
}

.field-control p {
    padding-right: 5px;
    padding-left: 5px;
}

input[type="range"] {
    appearance: none;
    width: 30%;
    background: transparent;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 21px;
    width: 11px;
    transform: translateY(-8px);
    box-shadow: none;
    border: none;
    background-image: url("/assets/images/static/indicator-horizontal.svg");
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    box-sizing: border-box;
    background: black;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    box-shadow: 1px 0 0 white, 1px 1px 0 white, 0 1px 0 white, -1px 0 0 darkgrey,
        -1px -1px 0 darkgrey, 0 -1px 0 darkgrey, -1px 1px 0 white, 1px -1px darkgrey;
}

select {
    user-select: none;
    padding: 3px 4px;
    border: none;
    height: 21px;
    font-family: "ms95-sans-serif";
    text-align: center;
    box-shadow: inset -1px -1px #ffffff;
    background-color: #ffffff;
    padding-right: 32px;
    background-image: url("/assets/images/static/button-down.svg");
    background-position: top 2px right 2px;
    background-repeat: no-repeat;
    border-radius: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    appearance: none;
}

select:focus {
    outline: none;
    color: #ffffff;
    background-color: #000080;
}

select:focus option {
    color: #000;
    background-color: #fff;
}

select:active {
    background-image: url("/assets/images/static/button-down-active.svg");
}

/* ----------------------------------------------------------------------------- */

.blinkies {
    user-select: none;
    width: 705px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 5px 5px 5px;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.blinkies img {
    width: 150px;
    height: 20px;
}

.buttons table {
    margin-left: -20px;
}

.marquee {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    transform: translateX(10px);
}

.marquee-track {
    user-select: none;
    display: flex;
    width: max-content;
    animation: marquee-scroll 20s linear infinite;
}

.marquee-track img {
    display: block;
    flex-shrink: 0px;
    margin-right: 5px;
    width: 100px;
    height: 55px;
}

@keyframes marquee-scroll {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}

/* CHANGELOG */
#changelog {
    height: 180px;
    overflow-y: scroll;
}

.changelog-entry {
    margin-top: 20px;
    margin-left: 6px;
    margin-right: 4px;
    background-color: #c0c0c0;
}

.changelog-entry:first-of-type {
    margin-top: 20px;
}

.changelog-entry:last-of-type {
    margin-bottom: 20px;
}

.changelog-entry-div {
    border-color: floralwhite;
    border-bottom-width: 2px;
    border-style: inset;
}

.changelog-entry h3 {
    border-color: floralwhite;
    border-width: 1px;
    border-style: inset;
    margin: 0px;
    padding-top: 1px;
    text-align: center;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    background-color: #000080;
}

.changelog-entry p {
    font-family: "W95FA";
    color: #0033d9;
    padding-top: 1px;
    padding-bottom: 1px;
    border-color: #808080;
    border-style: dotted;
    border-width: 0 0 1px 0;
}

.changelog-entry-div p:first-of-type {
    padding-top: 6px;
}

.changelog-entry-div p:last-of-type {
    padding-bottom: 6px;
    border: none;
}

.changelog-entry p::before {
    content: "\2022\205F"
}

/* VISITS */
#visits-box {
    user-select: none;
    width: 220px;
    background: #c0c0c0;
    background-image: url("/assets/images/tiles/cloud.gif");
    background-size: 100%;
    background-repeat: repeat;
    border-style: groove;
    border-color: #c0c0c0;
    border-width: 4px;
    border-radius: 20px;
    height: 25px;
    position: relative;
    display: flex;
    margin-bottom: 3px;
    align-content: center;
    justify-content: center;
}

#visits-box p {
    font-family: "W95FA";
    font-size: 20px;
    font-weight: 900;
    margin: 0;
    padding: 0;
    text-align: center;
    letter-spacing: 2px;
    color: #0033d9;
}

/* VIRTUAL PIANO */
#meowsic {
    width: 100%;
    height: var(--meowsic-height);
}

#meowsic-img {
    pointer-events: none;
    position: relative;
    width: 100%;
    height: inherit;
    z-index: 1;
}

#piano {
    user-select: none;
    position: absolute;
    top: 10px;
    left: 0;
    height: var(--piano-height);
    width: var(--piano-width);
    margin: var(--piano-tb-margin) var(--piano-lr-margin);
    z-index: 0;
}

/* STICKYNOTES */
#stickynotes-window h1,
#stickynotes-window p {
    color: #0033d9;
}

#stickynotes-window .panel {
    height: 130px;
    padding-bottom: 6px;
}

#stickynotes-window p {
    padding-top: 0px;
    padding-bottom: 0px;
}

#stickynotes-window p::before {
    content: "\2022\205F"
}

#stickynotes-window p:last-of-type {
    padding-bottom: 20px;
}

#stickynotes-window .panel {
    overflow-y: scroll;
}

/* FUNNY PICS */
#funnypics-window .panel {
    height: 162px;
    overflow-y: scroll;
}

#funnypics-window .panel img {
    pointer-events: fill;
    width: 100%;
    filter: brightness(90%) saturate(130%);
}

#funnypics-window .field-control {
    justify-content: center;
    padding: 0;
    color: #000;
}

#funnypics-window .field-control select,
#funnypics-window .field-control button {
    height: 20px;
    padding-top: 2px;
    text-transform: uppercase;
    text-align: center;
    text-wrap: nowrap;
    font-size: 100%;
    text-shadow: 1px 1px 2px #919191;
    background-color: silver;
    border: 1px dotted rgb(138, 136, 136);
    box-shadow: var(--box-shadow-outer);
}

#funnypics-randomizeBtn {
    width: 50%;
    letter-spacing: 3px;
}

#funnypics-window .field-control button:active {
    padding-top: 3px;
    box-shadow: var(--box-shadow-inner);
}

#funnypics-window .field-control a,
#funnypics-window .field-control select {
    width: 25%;
}

#funnypics-randomizeBtn, #funnypics-openBtn,
#funnypics-window .field-control a,
#funnypics-window .field-control select {
    text-wrap: nowrap;
    font-size: 100%;
    font-family: "W95FA";
    font-weight: 200;
    text-align: center;
}

#funnypics-window .field-control select:focus {
    color: #000;
}

#funnypics-openBtn {
    width: 100%;
}

/* WELCOME */
#welcome-window h1,
#welcome-window p {
    color: #fb95ff;
}

/* FOOT */
#foot {
    user-select: none;
    background: none;
    color: transparent;
    background: var(--default-rainbow-gradient);
    background-size: 67px;
    /* SIX SEVEEEN */
    background-clip: text;
    -webkit-background-clip: text;
    padding: 10px;
    bottom: 0;
    justify-content: center;

}

#foot p {
    text-align: center;
    font-family: "ms95-sans-serif";
    font-weight: bolder;
}

/* OTHER */
#resources-window h1,
#resources-window p,
#music-window h1,
#music-window p {
    color: #eff3ff;
}